<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/style.css"
  </head>
  <body>
    <h1><%= title %></h1>
    Aqui vai o código HTML que fará seu site aparecer.
  </body>
</html>
